.wrapper {
  position: relative;
  width: 100%; /* 横幅いっぱい */
  max-width: 1920px; /* 最大幅を1920pxに制限 */
  aspect-ratio: 16 / 10; /* 1920x1200の比率を維持 */
  margin: auto; /* 中央に配置 */
  background-color: #ccc; /* 台座の背景色（デバッグ用） */
  overflow: hidden; /* 中身がはみ出さないようにする */
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; /* コンテンツエリアの背景色 */
  display: flex; /* 子コンポーネントの配置調整用 */
  justify-content: center;
  align-items: center;

  
}.chat-box {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  margin: 0 auto 20px;
  padding: 10px;
  overflow-y: scroll;
  background-color: #f9f9f9;
}

.chat-message {
  background-color: #d1f0d1;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: left;
}

input[type="text"] {
  width: 220px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


.cell {
  border: 1px solid black;
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.clear-cell {
  border: none;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.dice{
  display: flex;
  justify-content: center;
}

.button{
  display: flex;
  justify-content: center;
}

.board {
  display: flex; 
  flex-wrap: wrap; 
  gap: 5px; 
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.chart{
  display: flex;
  justify-content: center;
}
 